.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    margin-bottom: 90px;

    &__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }

    nav {
        a {
            margin-left: 35px;
            font-size: 18px;
            line-height: 22px;
            &.linkActive {
                color: #004FEC;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
}