.mainWrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    height: 100vh;

    main {
        flex: 1 0 auto;
    }
    footer {
        flex: 0 0 auto;
    }
}